@charset "utf-8";

input[type="text"] {
      width: 250%;
      font-size: 0.95em;
      margin: 1em 0;
      padding: 0.5em;
      border: solid 2px #e3e6ea;
      border-radius: 4px;
      margin-right: 15;
      margin-left: auto;
}
.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: 15%;
    text-align: left;
}
.submit {
    margin: 10px 80%;
    text-align: center;
    height: 6%;
    font-size: 20;
}
.comb {
    margin: auto 150%;
    text-align: center;
    font-size: 15;
}
