@charset "utf-8";

.form2
{
    display: block;
    text-align: center;
}
form
{
  display: inline-block;
  margin-left: auto;
  margin-right: 15%;
  text-align: left;
}
.center_iframe
{
  display: block;
  margin: auto;
}
.remove_submit
{
  font-size: 15;
}